# So we don't import the entire .venv library and also so we don't just have user keys in the public repository
.venv/

.env
.DS_Store
data/uploads/*.png
data/uploads/*.jpg
data/uploads/*.jpeg
data/processed/*.png
data/processed/*.jpg
data/processed/*.jpeg
__pycache__/
